@import"src/variable.scss";
.product-card{
    display: flex;
    height:max-content;
  }
  .left{
    width: 30%;
    height: 70%;
  }
  .right{
    width: 70%;
  }
  .left-check{
    height: 500px;
    overflow: scroll;
  }
  .right-check{
    height: 500px;
    padding: 2%;
    border-left: 1px solid $heart-color;
  }
  .check{
    background-color: $white-back;
  }